@import "fonts.css";

/* CUSTOM PROPS */

:root {
    --Raleway: "Raleway";
    --OpenSans: "Open Sans";
    --NunitoSans: "NunitoSans";
    --Primry: #2F65F8;
    --DarkBlue: #07043B;
}


/* GLOBAL STYLES  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    max-width: 1328px;
    width: 100%;
    padding-left: 24px;
    padding-right: 24px;
    margin: 0 auto;
}

body {
    font-family: var(--OpenSans);
}



/* SITE-HEADER */
.site-header {
    width: 100%;
    padding-top: 65px;
}
.d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    display: block;
}
.logo-image {
    width: 166px;
    object-fit: cover;
}

.nav {
    display: flex;
    column-gap: 57px;
}
.nav-link {
    color: var(--DarkBlue);
    font-family: var(--Raleway);
    font-size: 16px;
    font-weight: 400;

}
/* SITE-HEADER */

/* SITE-HERO */

.site-hero {
    padding-top: 86px;
}

.site-hero__headline {
    max-width: 627px;
    width: 100%;
    font-family: var(--Raleway);
    font-size: 40px;
    font-weight: 700;
    line-height: 60px;
    color: var(--DarkBlue);
}
.site-hero__text {
    font-family: var(--OpenSans);
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.531px;
    margin-top: 15px;
    margin-bottom: 25px;
    max-width: 585px;
    width: 100%;
}
.form {
    display: flex;
    column-gap: 16px;

}
.form-input {
    padding: 14px 21px 12px 21px;
    border-radius: 3.3px;
    border: 1px solid var(--DarkBlue);
    max-width: 320px;
    width: 100%;

}
.form-input:focus {
    outline: none;
}
.form-input::placeholder {
    color: #C2C2C2;
    font-family: var(--OpenSans);
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.436px;
}

.form-btn {
    max-width: 200px;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 14px;
    background-color: #2F65F8;
    border: 1px solid #2F65F8;
    border-radius: 3.3px;
    font-family: var(--Raleway);
    font-size: 14px;
    font-weight: 700;
    color: white;
    box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.16);
    transition: .5s;

}
.form-btn:active {
    background-color: #6C9BFF;
    border: 1px solid #6C9BFF;
}
/* SITE-HERO */



/* SERVICE */


.service-content {
    background-color: #F8F8FE;
    padding-top: 100px;
    padding-bottom: 100px;
}
.service-headline {
    color: #07043B;
    font-family: var(--Raleway);
    font-size: 40px;
    font-weight: 700;
}

.service-text {
    color: #07043B;
    font-family: var(--OpenSans);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 38px;
    margin-bottom: 15px;
    max-width: 529px;
    width: 100%;
}

.service-link {
    display: flex;
    align-items: center;
    column-gap: 8px;
    color: #3DA08F;
    font-family: var(--OpenSans);
    font-size: 16px;
    font-weight: 400;
    transition: .5s;

}
.service-link:active {
    color: #71DFCC;
}
.service-link__icon {
    width: 20px;
    height: 20px;
    display: block;
}

/*.service-link::after{*/
/*    content: "";*/
/*    display: block;*/
/*    width: 166px;*/
/*    height: 1px;*/
/*    background-color: #3DA08F;*/
/*}*/

.service-card {
    max-width: 356px;
    width: 100%;
    padding: 26px 33px 26px 33px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 0px 10px 5px rgba(56, 56, 56, 0.05);
    margin-top: 45px;

}




.service-card__desc {
    color: #07043B;
    font-family: var(--OpenSans);
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.5px;
    line-height: 23px;
}
.user {
    display: flex;
    column-gap: 8px;
    align-items: center;
    margin-top: 16px;
}
.user-image {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}
.user-bio {
    display: flex;
    flex-direction: column;
    row-gap: 0;
}
.user-name {
    color: #07043B;
    font-family: var(--OpenSans);
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 0.55px;
}
.user-jobs {
    color: #07043B;
    font-family: var(--OpenSans);
    font-size: 8px;
    font-weight: 400;
    letter-spacing: 0.4px;
    line-height: 15px;
}
/* SERVICE */
